.content {
	background-color: white;
}

.sockinbox {
	display: flex;
	width: 450px;
	grid-column-start: 2;
	margin-left: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    grid-column: 3/6;
    margin-left: 75px;
    color: #1E407A;
    margin-top: 10px;
    margin-right: 115px;
}

.kopjes {
    display: flex;
    font-size: 28px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: -38px;
    margin-top: -15px;
}

.mobilesock {
    display: none;
}

@media screen and (max-width: 576px) {
    .info {
        grid-column: 1/6;
        color: #1E407A;
        margin-top: 10px;
        margin-left: 25px;
        margin-right: 0px;
    }
    .sockinbox{
        display: none;
    }
    .mobilesock {
        display: block;
        width: 100%;
    }

}