.header {
    z-index: 10;
}

button {
    background: transparent;
    border: none;
    color: transparent;
}

.popup {
    transition: all 0.2s linear;
    visibility: hidden;
    position: absolute;
    display: flex;
    margin-top: 200px;
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 50px;
    z-index: 9;
    align-items: center;
    flex-direction: column;
}

.content {
    height: 65vh;
}

#beer {
    height: 220px;
    width: 220px;
}

#t1 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    align-items: center;
}

#t2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
}

#weetje {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 17px;
    align-items: center;
}

.resellerImages {
    flex-direction: row;
    margin-top: 10px;
}

#lijn {
    border: 5px solid #1E407A;
    width: 790px;
}	

.sluitKnop {
    position: absolute;
    margin-left: 85%;
    margin-top: 20px;
}

.darken {
    visibility: hidden;
    transition: all 0.2s linear;
    width: 100%;
    height: 65vh;
    margin: 0;
    padding: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.headerDropdown {
    z-index: 20;
}

.carousel {
    position: relative;
    display: flex;
    width: 900px;
    height: 400px;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.carouselImage {
    position: absolute;
    transition: all 250ms;
}

.carouselImage:nth-child(2) {
    width: 140px;
    left: 175px;
    top: 10px;
    z-index: 0;
}

.carouselImage:nth-child(3) {
    width: 160px;
    left: 260px;
    top: 15px;
    z-index: 1;
}

.carouselImage:nth-child(4) {
    width: 180px;
    left: 360px;
    top: 20px;
    z-index: 2;
}

.carouselImage:nth-child(5) {
    width: 160px;
    left: 480px;
    top: 15px;
    z-index: 1;
}

.carouselImage:nth-child(6) {
    width: 140px;
    left: 585px;
    top: 10px;
    z-index: 0;
}

.carouselScroll {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.leftScroll {
    background-image: url("../img/pijlLinks.png");
}

.rightScroll {
    background-image: url("../img/pijlRechts.png");
}

.socksParen {
    min-width: 340px;
    display: flex;
    justify-content: center;
}

.socksParen a {
    text-decoration: none;
    font-size: 20px;
}

.parenButton {
    margin-right: 20px;
    padding: 0px 20px 0px 20px;
    background-color: #51B2A2;
    border: 10px solid #51B2A2;
    border-radius: 50px;
    color: #1E407A;
}

.socksTitle {
    font-size: 32px;
    color: white;
}

.socksText {
    color: white;
}

.socksText li {
    margin-top: 1.25em;
}

@media screen and (max-width: 576px) {
    .header {
        z-index: 21;
    }

    .content {
        height: auto;
    }

    .carousel {
        width: 300px;
        height: 140px;
    }

    .carouselImage:nth-child(2) {
        width: 45px;
        left: 60px;
        top: 6px;
    }

    .carouselImage:nth-child(3) {
        width: 52.5px;
        left: 87.5px;
        top: 7.5px;
    }

    .carouselImage:nth-child(4) {
        width: 60px;
        left: 120px;
        top: 10px;
    }

    .carouselImage:nth-child(5) {
        width: 52.5px;
        left: 160px;
        top: 7.5px;
    }

    .carouselImage:nth-child(6) {
        width: 45px;
        left: 195px;
        top: 6px;
    }

    .carouselScroll {
        width: 25px;
        height: 25px;
    }

    .parenButton {
        margin-left: 5px;
        margin-right: 5px;
    }

    .socksParen a {
        font-size: 12.5px;
    }
    
    .socksText {
        min-width: auto;
    }

    .popup {
        top: 140px;
        width: 267px;
        height: auto;
        border-radius: 30px;
    }

    #beer {
        width: 170px;
        height: 170px;
    }

    #t1 {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    #t2 {
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #weetje {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 13px;
    }

    .resellerImages {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .resellerImages img:last-child {
        width: 56px;
    }

    #lijn {
      border: 2px solid #1E407A;
      width: 263px;

    }	

    .sluitKnop {
        position: absolute;
        margin-left: 70%;
        margin-top: 20px;
    }

    .sluitKnop img {
        width: 40px;
    }

    .darken {
        height: 78vh;
    }
}