body {
    display: grid;
    margin: 0px;
    grid-template-columns: repeat(6, 1fr);
    font-family: "Nexa", "Comic Sans", "Segeo UI", sans-serif;
}

.header {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1/7;
    background-color: #1E407A;
    height: 150px;
}

.headerContent {
    display: flex;
    grid-column: 2/6;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 35%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    list-style: none;
    font-size: 20px;
    color: white;
}

.navbar li:not(:last-child) {
    margin-right: 50px;
}

.content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column: 1/7;
	margin-top: 3px;
}

.sockinbox {
	display: flex;
	width: 450px;
	grid-column-start: 2;
	margin-left: 50px;
}

.info {
	display: flex;
	flex-direction: column;
	grid-column: 3/6;
	margin-left: 75px;
	color: #1E407A;
	margin-top: 10px;
}

.kopjes {
	display: flex;
	font-size: 28px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: space-between;
}

.contact {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-left: -38px;
	margin-top: -15px;
}