.newsLetter {
    grid-column: 3/5;
    width: 695px;
    margin: auto;
}

.content {
    background-color: white;
}

.newsContent {
    display: flex;
    grid-column: 2/6;
    height: 450px;
    text-align: center;
    color: #1E407A;
}

.newscontent h1 {
    font-size: 48px;
}

.newscontent p {
    font-size: 22px;
}

#newsInput {
    border:solid 1px #D5D8DE;
    max-width: 160px;
    line-height: 20px;
    padding: 15px;
    vertical-align: middle;
    border-radius: 12px 0 0 12px;
}

#newsButton {
    padding: 17px;
    color: white;
    background: #F15B39;
    vertical-align: middle;
    border: 1px solid #F15B39;
    border-radius: 0 12px 12px 0;
    margin-left: -5px;
}

@media screen and (max-width: 576px) {
    .newsLetter {
        width: 100%;
        margin: 25% 0 25% 0;
    }

    #newsInput {
        width: 60%;
    }

    .newsContent {
        grid-column: 1/7;
        padding: 0 25px 0 25px;
    }

    .footer {
        position: static;
        width: auto;
        bottom: auto;
    }
    
    .subFooter {
        position: static;
        width: auto;
        bottom: auto;
    }
}